:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: default;
  overflow-anchor: none;
}

squad {
  display: grid;
  grid-template-columns: repeat(3, 0.3fr);
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 900px) {
  squad {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  squad {
    grid-template-columns: repeat(1, 1fr);
  }
}

h1 {
  color: whitesmoke;
  text-align: center;
  font-size: 3rem;
}

.pokeballButton {
  border: none;
  border-radius: 6rem;
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 60px;
  align-items: center;
  justify-content: center;
  padding: 0rem;
  cursor: default;
  outline: 0;
}

input[type="text"] {
  background-color: whitesmoke;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.87);
  color: black;
  font-size: 1rem;
  padding: 0.5rem;
  height: 6vh;
  width: 50%;
  font-size: 20px;
  font-weight: bold;
}

type[name="fire"],
move[name="fire"] {
  background: linear-gradient(45deg, red, orange);
  color: white;
}

type[name="water"],
move[name="water"] {
  background: linear-gradient(45deg, blue, lightblue);
  color: white;
}

type[name="grass"],
move[name="grass"] {
  background: linear-gradient(45deg, green, lightgreen);
  color: white;
}

type[name="electric"],
move[name="electric"] {
  background: linear-gradient(45deg, yellow, lightyellow);
  color: rgb(53, 53, 53);
}

type[name="normal"],
move[name="normal"] {
  background: linear-gradient(45deg, grey, lightgrey);
  color: white;
}

type[name="fighting"],
move[name="fighting"] {
  background: linear-gradient(45deg, brown, darkred);
  color: white;
}

type[name="flying"],
move[name="flying"] {
  background: linear-gradient(45deg, skyblue, lightblue);
  color: white;
}

type[name="poison"],
move[name="poison"] {
  background: linear-gradient(45deg, rgb(199, 10, 199), violet);
  color: white;
}

type[name="ground"],
move[name="ground"] {
  background: linear-gradient(45deg, orange, goldenrod);
  color: white;
}

type[name="rock"],
move[name="rock"] {
  background: linear-gradient(45deg, brown, darkgrey);
  color: white;
}

type[name="bug"],
move[name="bug"] {
  background: linear-gradient(45deg, green, darkgreen);
  color: white;
}

type[name="ghost"],
move[name="ghost"] {
  background: linear-gradient(45deg, rgb(72, 3, 72), purple);
  color: white;
}

type[name="steel"],
move[name="steel"] {
  background: linear-gradient(45deg, grey, silver);
  color: white;
}

type[name="fairy"],
move[name="fairy"] {
  background: linear-gradient(45deg, rgb(150, 92, 102), pink);
  color: white;
}

type[name="psychic"],
move[name="psychic"] {
  background: linear-gradient(45deg, rgb(243, 117, 138), pink);
  color: white;
}

type[name="ice"],
move[name="ice"] {
  background: linear-gradient(45deg, rgb(48, 142, 173), lightblue);
  color: white;
}

type[name="dragon"],
move[name="dragon"] {
  background: linear-gradient(45deg, purple, indigo);
  color: white;
}

type[name="dark"],
move[name="dark"] {
  background: linear-gradient(45deg, black, darkgrey);
  color: white;
}
